Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  modernize-*,
  readability-*,
  misc-*,
  -bugprone-easily-swappable-parameters,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-concat-nested-namespaces
WarningsAsErrors: "*"
HeaderFilterRegex: ".*/(src|tests)/.*"
FormatStyle: file
